server:
  port: 18080
  servlet:
    context-path: /webapp
zitadel:
  clientId: 222722778418184449@reev-be
  clientSecret: ${REEV_BE_SECRET:secret}
  issuerUri: https://test-fojq5t.zitadel.cloud
  endSessionUri: https://test-fojq5t.zitadel.cloud/oidc/v1/end_session