
server:
  port: 18090
  servlet:
    context-path: /
  error:
    include-stacktrace: never

spring:
  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      # deals with single and multi-valued JWT claims
      accept-single-value-as-array: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://test-fojq5t.zitadel.cloud
          jwk-set-uri: https://test-fojq5t.zitadel.cloud/oauth/v2/keys
        opaquetoken:
          introspection-uri: https://test-fojq5t.zitadel.cloud/oauth/v2/introspect
          client-id: 222722234098188545@reev-be
          client-secret: ${REEV_BE_API_SECRET:secret}
